*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #B0B0B0;
}
.app-title{
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin-top: 10%;
}
p.intro{
    text-align: center;
    font-size: 20px;
}
form{
    justify-content: center;
    text-align: center;

}
input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.item{
    width: 50%;
    height:auto;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow:0 5px 20px #738490;
}
img{
    width: 70%;
    height: auto;
    margin-left: 13%;
    margin-top: 3%;

}
.item .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .title{
    color: black;
    font-size: 35px;
    font-weight: 400;
}
.view-btn{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: lightgrey;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
}
p.recipe-desc{
    font-size: 15px;
    justify-content: left;
}
.view-btn:hover{
    background-color: darkgray;
    text-decoration: none;
    color: white;
}
.footer{
    justify-content: center;
    text-align: center;
}
.note{
    text-align: center;
    margin-top: 10px;
}